<#@ template debug="true" language="C#" #>

<# foreach (var nativeSignature in mNativeSignatures) { #>
        virtual <#= nativeSignature.ReturnType.FullNameInCpp() #> __thiscall <#= nativeSignature.Name #>(<#= nativeSignature.NativeParameterListOf() #>);
<#}#>

    
